!!	                         __ 
!!	  __  ________  ___   __/ /_
!!	 / / / / ___/ |/_/ | / / __/
!!	/ /_/ / /  _>  < | |/ / /_  
!!	\__,_/_/  /_/|_| |___/\__/  
                            
!!dark theme
*foreground: #c1c1c1
*foreground_bold: #ffffff
*cursor: #002b36
*background: #002b36
!!*background: rgba(0, 0, 0, .7)

	
!! black
*color0: #1b1918
*color8: #766e6b
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #a8a19f
*color15: #f1efee

!!should allow for transperent background
URxvt.transparent:   true
URxvt.shading:       20


URxvt.intensityStyles:	false
!!URxvt.background:       [70]#0000111
URxvt.depth:		32
URxvt.font: 		xft:monospace:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	magenta
URxvt.perl-ext-common:	default,matcher,resize-font,keyboard-select,clipboard
!!URxvt.perl-lib:		$HOME/.config/Scripts
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1

!!for keyboard select and copy/paste
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
!!allows copy/paste from perl clipboard
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

!!dynamically resize font
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

!!URxvt.colorUL:		#4682B4
!!rofi.color-enabled:	true
!!rofi.color-window:	#000, #000, #000
!!rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
!!rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
!!rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661
!!
!!rofi.fake-transparency:	true
!!rofi.lines:		3
!!rofi.bw:		0
!!rofi.opacity:		"10"
!!rofi.hide-scrollbar:	true
!!rofi.width:		30
!!
